.card {
  overflow: hidden;
}

.card__image-container {
  background-color: var(--clr-grey);
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
}

.card__image {
  width: 100%;
}

.card__content {
  background-color: var(--clr-white);
  padding: 0.75rem 1.125rem 1.125rem;
  font-size: 1rem;
}
